/*mobile view*/

body {
  min-height: 90vh;
  height: auto;
  background: linear-gradient(180deg, rgba(58,12,163,1) 0%, rgba(114,9,183,1) 94%);
  padding: 0px;
  margin: 0 auto;
}

.leaderboard {
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 0 auto;
}

li {
  list-style-type: none;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  background-image: linear-gradient(to left, grey, white);
  color: rgb(58, 58, 58);
  padding: .6em .75em;
  display: flex;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.gold {
  background: linear-gradient(to right, gold,white);
}

.silver {
  background: linear-gradient(to left, white, silver);
}

.bronze {
  background: linear-gradient(to right, rgb(189, 110, 46), white);
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
  background: #4cc9f0;
  padding: 3px 8px;
  border-radius: 3px;
  color: rgba(58,12,163,1);
  font-family: 'Bangers', serif;
}

.list-wrapper {
  width: 70%;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 0px 0px rgba(58,12,163,1), 10px 10px 0px 0px rgb(73, 26, 182), 15px 15px 0px 0px rgb(103, 57, 209), 20px 20px 0px 0px rgb(136, 98, 224), 25px 25px 0px 0px rgb(188, 165, 243), 5px 5px 15px 5px rgba(0,0,0,0);
}

#score {
  all: initial;
  margin-left: auto;
  font-size: .8em;
  color: rgb(58, 58, 58);
}

/*tablet view*/
@media only screen and (min-width: 768px) {

  .list-wrapper {
    width: 50%;
  }

}

/*desktop view*/
@media only screen and (min-width: 1030px){
}