html, body {
  background: linear-gradient(142deg, rgba(114,9,183,1) 35%, rgba(148,70,200,1) 100%);
  height: 100vh;
  padding-top: 120px;
}


form {
  background-color: white;
  margin:  0 auto 50px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);
}

h2 {
  text-align: center;
}

input, button {
  margin-top: 2em;
}

button {
  text-align: center;
}

.switch-form {
  text-align: center;
  margin-top: 1em;
}

a {
  margin-left: 5px;
  font-size: 20px;
  color: rgb(58, 141, 236);
  cursor: pointer;
}

.req-error {
  background-color: rgb(218, 116, 133);
  color: rgb(207, 55, 55);
}
