/* styles for phone/mobile display*/

h1 {
  font-family: "Bangers", cursive;
  color: white;
  font-size: 35px;
}

h1:hover {
  cursor: pointer;
  font-size: 36px;
}

.logo {
  max-width: 50vw;
  display: flex;
}

img {
  max-width: 150px;
}

.login-btn {
  margin: 20px 10px 0px 10px;
  padding-bottom: 0px;
  width: 60px;
  height: 30px;
  border: none;
  color: #e4fbff;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #38065a98;
  box-shadow: 3px 3px 8px rgba(234, 5, 154);
  font-size: 17px;
}

header {
  padding-top: 10px;
  margin-top: 0px;
  background: #f72585;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

li {
  padding: 0px 20px 0px 15px;
}

a {
  text-decoration: none;
}

.back-btn {
  margin-left: 1em;
}
.back-btn:hover {
  background-color: #38065a98;
  box-shadow: 3px 3px 8px #39065a;
  font-size: 21px;
  transition: 0.3s ease-in-out;
}

button {
  margin: 10px 10px;
  width: 60px;
  height: 30px;
  background-color: #39065a;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-out;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  z-index: 100;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  /* width:auto; */
  /* height:auto; */
  /* z-index: 100; */
}

/* Hide the links inside the navigation menu */
.topnav #myLinks {
  background-color: #4cc9f0;
  color: white;
  /* margin-top:20px; */
  z-index: 100;
  display: flex;
  flex-direction: column;
  font-size: 10pt;
}

/* Style navigation menu links */
.topnav a {
  padding: 5px 5px;
  text-decoration: none;
  font-size: 10pt;
  z-index: 100;
}

/* Add a background color on mouse-over */
a.icon:hover {
  background-color: rgba(57, 6, 90, 0.4);
  z-index: 100;
  border-radius: 50%;
}

.fa-bars {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.topnav {
  padding-top: 0px;
}

.hamburgerMenu {
  background-color: #f72585;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-bottom: 0px;
  padding-top: 2px;
  height: 25px;
}

.hamburgerDropDown {
  background-color: transparent;
  color: #39065a;
  height: 40px;
}

h3 {
  margin-bottom: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#username {
  font-size: 8pt;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  padding-left: 4px;
}

/*style for tablet view*/
@media only screen and (min-width: 768px) {
  button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    transition: 0.5s ease-in;
  }

  img {
    max-width: 200px;
    transition: 0.5s ease-in;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    font-size: 2.2em;
  }

  /* Style navigation menu links */
  .topnav a {
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20pt;
    z-index: 100;
  }

  a.icon:hover {
    color: white;
  }

  .hamburgerDropDown {
    height: 50px;
  }

  #username {
    font-size: 10pt;
    margin-top: 2px;
    padding-left: 8px;
  }

  /*style for desktop view*/
  @media only screen and (min-width: 1030px) {
    button {
      width: 125px;
      height: 65px;
      font-size: 30px;
      transition: 0.5s ease-in;
    }
    .back-btn:hover {
      background-color: #38065a98;
      box-shadow: 3px 3px 8px #39065a;
      font-size: 31px;
      transition: 0.3s ease-in-out;
    }


    img {
      max-width: 250px;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
      justify-content: center;
      align-items: center;
      padding-top: 5px;
      font-size: 2.5em;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .hamburgerMenu {
      margin-top: 20px;
    }

    .hamburgerDropDown {
      height: 60px;
    }

    /* Style the active link (or home/logo) */
    .active {
      color: white;
    }

    span.mat-button-wrapper {
      font-size: 13pt;
    }

    #username {
      font-size: 14pt;
      padding-left: 9px;
    }
  }
}
