<html>
<header>
  <button class="back-btn" (click)="backClick()">Back</button>
  <a routerLink="/home" class="logo">
    <img src="assets/images/giphiacircle.png">
    </a>
      <div class="login-wrapper">

        <h3 id="username" mat-button [matMenuTriggerFor]="beforeMenu" [style]="{display: !isAuthenticated ? 'none' : 'block'}">{{playerInfo.username}} </h3>

<button mat-button [matMenuTriggerFor]="menu" class="hamburgerMenu">
  <a  href="javascript:void(0);" class="icon" >
  <i class="fa fa-bars"></i>
</a></button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="routeHome()" class="hamburgerDropDown">Home</button>
  <button mat-menu-item (click)="routeLeaderBoard()" class="hamburgerDropDown">Leaderboard</button>
  <button mat-menu-item (click)="routePlayerProfile()" class="hamburgerDropDown" *ngIf="isAuthenticated">Profile</button>
  <button mat-menu-item (click)="routeGameModes()" class="hamburgerDropDown">Game Modes</button>
  <button mat-menu-item (click)="onLogin()" class="hamburgerDropDown"  *ngIf="!isAuthenticated">Login</button>

</mat-menu>
</div>

    

          <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button id="username" mat-button [matMenuTriggerFor]="beforeMenu" [style]="{display: !isAuthenticated ? 'none' : 'block'}"><fa-icon [icon]="faCaretDown"></fa-icon> {{playerInfo.username}}</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onPlayerStats()">Player Stats</button>
          <button mat-menu-item>Leaderboards</button>
          <button mat-menu-item (click)="onLogout()">Log Out</button>
        </mat-menu>

      <!-- </div>

  </header>

</html>

      </mat-menu> -->

      </mat-menu>


