<html>
<header>
  <button class="back-btn" (click)="backClick()">Back</button>
  <a routerLink="/home" class="logo">
    <img src="assets/images/giphiacircle.png">
    </a>
    <!-- <h1 routerLink="/home" id="title">Giphia</h1> -->
      <div class="login-wrapper">

        <h3 id="username" mat-button [matMenuTriggerFor]="beforeMenu" [style]="{display: !isAuthenticated ? 'none' : 'block'}">{{playerInfo.username}} </h3>

        <!-- navigation for hamburger menu -->
        <!-- <div class="topnav"> -->
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
          <!-- <a  href="javascript:void(0);" class="icon" (click)="hamburgerFunction()">
            <i class="fa fa-bars"></i>
          </a> -->
          <!-- Navigation links (hidden by default) -->
          <!-- <div id="myLinks" *ngIf="isShowDiv" >
            <a routerLink="home">Home</a>
            <a routerLink="leaderboard">Leaderboard</a>
            <a routerLink="player-profile">Player Profile</a>
            <a routerLink="gamemodes">Game Modes</a>
          </div>
     -->

<!-- hamburger menu - using angular materials -->
<button mat-button [matMenuTriggerFor]="menu" class="hamburgerMenu">
  <a  href="javascript:void(0);" class="icon" >
  <i class="fa fa-bars"></i>
</a></button>
<!-- drop-down options using angular materials -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="routeHome()" class="hamburgerDropDown">Home</button>
  <button mat-menu-item (click)="routeLeaderBoard()" class="hamburgerDropDown">Leaderboard</button>
  <button mat-menu-item (click)="routePlayerProfile()" class="hamburgerDropDown">Profile</button>
  <button mat-menu-item (click)="routeGameModes()" class="hamburgerDropDown">Game Modes</button>
  <button mat-menu-item (click)="onLogin()" class="hamburgerDropDown"  *ngIf="!isAuthenticated">Login</button>
  <!-- class="login-btn" -->
  
</mat-menu>
</div>

    

          <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button id="username" mat-button [matMenuTriggerFor]="beforeMenu" [style]="{display: !isAuthenticated ? 'none' : 'block'}"><fa-icon [icon]="faCaretDown"></fa-icon> {{playerInfo.username}}</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onPlayerStats()">Player Stats</button>
          <button mat-menu-item>Leaderboards</button>
          <button mat-menu-item (click)="onLogout()">Log Out</button>
        </mat-menu>

      <!-- </div>

  </header>

</html>
      <button id="username" mat-button [matMenuTriggerFor]="beforeMenu" [style]="{display: !isAuthenticated ? 'none' : 'block'}"><fa-icon [icon]="faCaretDown"></fa-icon> {{playerInfo.username}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onPlayerStats()">Player Stats</button>
        <button mat-menu-item>Leaderboards</button>
        <button mat-menu-item (click)="onLogout()">Log Out</button>
      </mat-menu> -->

      </mat-menu>


