.informationContainer{
    padding:2em;
    border: 1px solid white;
    margin-bottom: 1em;
    margin-right:20px;
    margin-left:20px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    color:white;
}

.avatar{
    border-radius: 50%;
    background-color:white;
    width: 100px;
    height:100px;
}

.verticalPipe{
    border-left: 1px solid white;
    height: 100px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.playerHeaderSection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;



}

.higestScoreSection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

h1{
    padding-top:15px;
    font-weight: 500;
    font-size: 100px;
    margin-bottom: 30px;
    font-size: 35px;
    color:#4cc9f0;
    font-family: 'Roboto Slab', serif;
}

h2{
    font-size: 35px;
    color:#f72585;
}

p{
    font-size: 25px;
    color:white;
    font-weight: 400;
    line-height: 35px;
    font-family: 'Roboto Slab', serif;    
}


.graphicsArea{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 300px;

}

button{
    width: 200px;
    height: 80px;
    margin:11px 20px;
    background-color: #39065a;
    border: none;
    border-radius: 20px;
    color: #e4fbff;
    font-size: 25px;
    /* box-shadow: 2px 2px 7px #ea0599; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    flex-direction: row;

}

body {
    height: 90vh;
    width: 100vw;
    background: rgb(58,12,163);
    background: linear-gradient(180deg, rgba(58,12,163,1) 0%, rgba(114,9,183,1) 94%);
    padding: 0px;
}

.yearStarted{
    color:white;
}

.ranking{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

.games{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

.buttonGroup{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}



  /* tablet screen */
  @media only screen and (min-width: 376px){

    
      }
   
  /* computer screen */
   @media only screen and (min-width: 768px){

   
   }