<body>
<div class="playerHeaderSection informationContainer">

   <i class="fas fa-glasses"></i><img class="avatar" src='https://avatars.dicebear.com/api/bottts/example.svg?colors%5B%5D=pink' alt="player-avatarOption" />

   <h1>{{playerName}}</h1>

   <p class="yearStarted">{{" Player since: " + signUpYear }}</p>

</div>

<div class="higestScoreSection informationContainer"> 
    <p>Highest Personal Score</p>
    <h2> {{highestScore}} points</h2>
 </div>

 <div class="playerStatsSection informationContainer"> 
    <p class="games">Games Played:</p>
    <h2>{{numberOfGamesPlayed}}</h2>

    <div class="verticalPipe"></div>

    <p class="ranking">Player Ranking:</p>
    <h2>{{playerRanking}}</h2>
 </div>
 
 <button class="playbutton" (click)="playCount()"(click)="playGameRoute()" >Play</button>
 <button class="createAvatarbutton" (click)="CreateAvatarRoute()">Create Avatar</button>
 <button class="resetStatsButton" >Reset Stats</button>
 <!-- <button id="resetStats" (click)="resetStats()">Reset Stats</button> -->
</body>