.container {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: auto;
  width: 100vw;
  padding: 3em;
  margin: 0 auto;
}

h1 {
  font-family: "Poppins", sans serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}

html {
  background: rgb(58,12,163);
  background: linear-gradient(180deg, rgba(58,12,163,1) 0%, rgba(114,9,183,1) 94%);
  height: 100vh;
}

/*tablet view*/
@media only screen and (min-width: 768px) {
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 20vw;
  height: 40%;
  width: 40%;
  padding: 3em;
}

/*desktop view*/
@media only screen and (min-width: 1030px){

}


