/* .avatar{
    border-radius: 50%;
    background-color:gray;
    width: 100px;
    height:100px;
}

.avatarOptions {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */

.container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 300px;
  padding: 3em;
}

