.container {
  display: flex;
  justify-content: center;
  /* margin-left: 18%; */
  height: 40%;
  width: 40%;
  padding: 3em;
  margin: 0 auto;
}

html {
  background: rgb(58,12,163);
  background: linear-gradient(180deg, rgba(58,12,163,1) 0%, rgba(114,9,183,1) 94%);
  height: 100vh;
}

/*tablet view*/
@media only screen and (min-width: 768px) {
}


/*desktop view*/
@media only screen and (min-width: 1030px){

}


