<div class="graphicsArea">
    
    </div>
    
<div class="avatarOptions">
    <h1>Choose Avatar</h1>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='https://avatars.dicebear.com/api/bottts/:seed.svg' alt="player-avatarOption" />
    </div>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='https://avatars.dicebear.com/api/bottts/example.svg?colors%5B%5D=purple' alt="player-avatarOption" />
    </div>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='https://avatars.dicebear.com/api/bottts/example.svg?colors%5B%5D=pink' alt="player-avatarOption" />
    </div>

    <div>
        <i class="fas fa-glasses"></i><img class="avatar" src='https://avatars.dicebear.com/api/bottts/example.svg?colors%5B%5D=blue' alt="player-avatarOption" />
        </div>

    <h1>Create Custom Avatar</h1>
    <button></button>




