<app-header></app-header>

<div class="graphicsArea">
    <a routerLink="/home" class="logo">Logo will go here</a>
    </div>
    
<div class="avatarOptions">
    <h1>Choose Avatar</h1>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='' alt="player-avatarOption" />
    </div>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='' alt="player-avatarOption" />
    </div>

    <div>
    <i class="fas fa-glasses"></i><img class="avatar" src='' alt="player-avatarOption" />
    </div>

    <h1>Create Custom Avatar</h1>
    <button></button>




