.container {
  display: flex;
  justify-content: center;
  margin-left: 18%;
  height: 40%;
  width: 40%;
  padding: 3em;
}

html {
  background: rgb(58,12,163);
  background: linear-gradient(180deg, rgba(58,12,163,1) 0%, rgba(114,9,183,1) 94%);
  height: 100vh;
}


