<!--Christa - need to update this based on Auth-->

<h2>Login</h2>

<div class="container">

    <form>
        <label for="userName">Username</label>
        <input type="text" placeholder="Enter Username" id="username" required/> <!-- [(ngModel)]="" not sure what this ngModel will be -->

        <label for="password">Password</label>
        <input type="text" placeholder="Enter Password" id="password" required  /> <!-- [(ngModel)]="" not sure what this ngModel will be -->

        <button>Submit</button> <!-- (click)="" not sure what this click method will be -->
        
    </form>

</div>
