* {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

h1 {
  padding-top: 5%;
  padding-bottom: 3%;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 32px;
  color: #e4fbff;
  text-shadow: 3px 3px 5px #39065a;
  background-image: linear-gradient(to right, #ea0599, #9a0f98, #6a0572, #39065a)
}
.blocks {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
#startbutton {
  width: 110px;
  height: 40px;
  margin: 5px;
  background-color: #39065a;
  border: none;
  border-radius: 5px;
  color: #e4fbff;
  font-size: 18px;
  box-shadow: 2px 2px 7px #ea0599;
}
#pausebutton {
  width: 110px;
  height: 40px;
  margin: 5px;
  background-color: #39065a;
  border: none;
  border-radius: 5px;
  color: #e4fbff;
  font-size: 18px;
  box-shadow: 2px 2px 7px #ea0599;
}
#resetbutton {
  width: 110px;
  height: 40px;
  margin: 5px;
  background-color: #39065a;
  border: none;
  border-radius: 5px;
  color: #e4fbff;
  font-size: 18px;
  box-shadow: 2px 2px 7px #ea0599;
}
#timerbutton {
  width: 150px;
  height: 30px;
  margin: 5px;
  padding-top: 10px;
  background-color: #39065a;
  box-shadow: 2px 2px 7px #ea0599;
  border: none;
  border-radius: 5px;
  color: #e4fbff;
  text-align: center;
}
.time-count {
  margin-top: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
  margin: auto;
}

.hidden{
      /* visibility: hidden; */
      display: none;
}
 
#gameOver {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: orange;
  /* z-index: 99999; */
  height: 100%;
  width: 100%;
}
