<header>
    <div class="graphicsArea">
        
      <img src="/assets/images/giphiacircle.png" alt="Giphia circular logo">
    </div>
</header>
  
  <body>
      <button (click)="endlessTriviaGame()" (click)="playCount()">Play Endless Trivia</button>
      <!-- <li><a routerLink="/leaderboard">Leaderboard</a></li> -->
  
      <button (click)="timeChallengeGame()" (click)="playCount()">Play Time Challenge</button>
      <!-- <li><a routerLink="/game-modes">Play</a></li> -->
  </body>
  
<router-outlet></router-outlet>