<body>

  <div class="cards-wrapper">
    <mat-card>
      <button class = "endless" (click)="endlessTriviaGame()" (click)="playCount()">Play Endless Trivia</button>
      <hr>
      <mat-card-content>See how many questions you can answer before hitting three strikes!</mat-card-content>
    </mat-card>

    <mat-card>
      <button class = "timed" (click)="timeChallengeGame()" (click)="playCount()">Play Time Challenge</button>
      <hr>
      <mat-card-content>Try to answer as many questions as you can before the time runs out!</mat-card-content>
    </mat-card>
  </div>

</body>


