<head>
  <script
    src="https://kit.fontawesome.com/841224f046.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <a name="top"></a>
  <div class="ticker">
    <h1 id="score">SCORE: {{ user_score }}</h1>
    <h1 routerLink="/home" id="quit" (click)="gameOver()">QUIT</h1>
  </div>
  <div id="q_cont">
    <h1 id="q_title">Question</h1>
    <div id="random_q">{{ randomQuestion }}</div>
  </div>
    <div id="giph_cont">
<div class="giph" *ngFor='let giph of giphArray'><img src="{{giph.images.original.url}}" alt=""></div>
    </div>
  <div id="h_cont">
    <!-- <h1 id="h_title">Hint</h1> -->
    <img src="{{ giphHint }}" alt="" />
    <button id="next_hint" (click)="nextGiphHint()">Next Hint</button>
  </div>

  <div id="button_cont">
    <input
      id="user_answer"
      type="text"
      placeholder="  Your answer"
      required
      [(ngModel)]="user_answer"
    />
    <button mat-button (click)="submitAnswer(event)" id="sub_button">
      Submit
    </button>
  </div>
  <!-- <button id="top_button"><a href="#" (click)='toTop()'>Back To Top</a></button> -->



  <div id="correct_message" *ngIf="correct_message">
    <div class="fade"><div id="correct">Crushed it</div></div>
  </div>
  <div id="wrong_message" *ngIf="wrong_message">
    <div class="fade">
      <div id="wrong">Strike {{ strikes }}</div>
    </div>
  </div>
</body>
