body {
  height: 100vh;
  width: 100vw;
  background: rgb(58, 12, 163);
  background: linear-gradient(
    180deg,
    rgba(58, 12, 163, 1) 0%,
    rgba(114, 9, 183, 1) 94%
  );
  padding: 0px;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

img {
  max-height: 42vh;
  max-width: 95vw;
  padding-bottom: 10px;
}

h1 {
  font-family: "Bangers", cursive;
  margin: 0px;
}

.ticker {
  padding: 0vh 3vw 0vw 3vw;
  margin: 0vh 0vw 2vh 0vw;
  width: auto;
  float: inline-end;
  background-color: #f72585;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0px 0px 10px 10px;
  position: sticky;
  top: 0px;
}

#score {
  align-self: flex-start;
}

#quit {
  align-self: flex-end;
}

#quit:hover {
  color: #3a0ca3;
  font-size: 30px;
}

#q_cont {
  background-color: #4cc9f0;
  border-radius: 15px;
  width: 95vw;
  margin: 0vw 2.5vw 5vw 2.5vw;
  box-shadow: 1px 1px 5px 1px #3a0ca3;
}

#q_title {
  width: auto;
  padding: 2vw;
  text-align: center;
}

#random_q {
  font-family: "Poppins", sans-serif;
  padding: 2vw;
}

#h_cont {
  color: white;
  width: 95vw;
  margin: 0vw 2.5vw 0vw 2.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#button_cont {
  display: block;
  width: 100vw;
  position: fixed;
  bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button,
input {
  margin: 0vw 5vw 0vw 5vw;
  height: 30px;
}

input {
  width: 75vw;
  padding: 0px;
  margin-bottom: 5px;
  border: none;
}

button {
  border: none;
  border-radius: 15px;
  color: white;
  font-family: "Bangers", cursive;
  font-size: 15px;
  font-weight: 200;
  width: 50vw;
  background-color: #f72585;
}

button:hover {
  background-color: #3a0ca3;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

#correct {
  background: rgb(55, 204, 82);
  box-shadow: 0vw 0vw 0vw 0.3vw rgba(55, 204, 82, 1);
}

#wrong {
  background: rgb(255, 0, 35);
  background: radial-gradient(
    circle,
    rgba(255, 0, 35, 1) 36%,
    rgba(251, 19, 84, 1) 98%
  );
  box-shadow: 0vw 0vw 0vw 0.3vw rgba(251, 19, 84, 1);
}

#correct,
#wrong {
  width: 40vw;
  height: 10vh;
  color: white;
  position: fixed;
  left: 30vw;
  bottom: 45vh;
  font-family: "Bangers", cursive;
  font-size: 30px;
  font-weight: 200;
  border-radius: 15px;
  text-align: center;
  line-height: 10vh;
}

.fade {
  width: 200vw;
  height: 200vh;
  position: fixed;
  left: 0vw;
  bottom: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

#giph_cont,
#top_button {
  display: none;
}

@media screen and (min-width: 768px) {
  /* #top_button {
    display: block;
    width: 10vw;
    height: 3vw;
    background-color: rgb(58, 12, 163, 0.5);
    position: fixed;
    bottom: 20px;
    font-size: 10px;
    margin-left: 45vw;
  } */

  #h_cont {
    display: none;
  }

  #random_q {
    padding: 0px 0px 0px 10px;
    align-items: center;
  }

  #q_cont {
    display: flex;
    position: sticky;
    top: 5vh;
    width: 75vw;
    height: 80px;
    margin-left: 12.5vw;
    box-shadow: none;
  }

  #q_title {
    width: 25%;
    padding: 0px 0px 0px 5px;
    line-height: 80px;
  }

  #random_q {
    display: flex;
    justify-content: center;
  }

  #giph_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #giph_cont img {
    max-width: 90vw;
  }

  #button_cont {
    background-color: #4361ee;
    border-radius: 15px;
    height: 125px;
    width: 50vw;
    margin-left: 25vw;
  }

  #button_cont input,
  button {
    width: 325px;
  }

  body {
    height: 100%;
    width: 100%;
    position: static;
  }

  #correct,
  #wrong {
    width: 25vw;
    height: 10vh;
    color: white;
    position: fixed;
    left: 37.5vw;
    bottom: 45vh;
  }

  @media screen and (min-width: 992px) {
    #h_cont {
      display: none;
    }

    #giph_cont {
      flex-wrap: wrap;
    }

    #button_cont {
      height: 100px;
      width: 25vw;
      margin-left: 37.5vw;
    }

    #q_cont {
      width: 45vw;
      margin-left: 27.5vw;
      box-shadow: none;
    }

    #q_title {
      width: 25%;
    }

    #button_cont input,
    button {
      width: 20vw;
    }
  }
}

/* PINK - #f72585
PURP - #7209b7
DPRP - #3a0ca3
BLUE - #4361ee
CYAN - #4cc9f0 */
