<head>
  <script
    src="https://kit.fontawesome.com/841224f046.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <div class="ticker">
    <h1>SCORE: {{ user_score }}</h1>
  </div>
  <div id="q_cont">
    <h1 id="q_title">Question</h1>
    <div id="random_q">{{ randomQuestion }}</div>
  </div>
  <div id="h_cont">
    <!-- <h1 id="h_title">Hint</h1> -->
    <img src="{{ giphHint }}" alt="" />
  </div>
  <button id="next_hint" (click)="nextGiphHint()">Next Hint</button>
  <div id="button_cont">
    <input
      id="user_answer"
      type="text"
      placeholder="Your answer"
      [(ngModel)]="user_answer"
    />
    <button (click)="submitAnswer()">Submit</button>
  </div>
</body>
