<html>
<header>
  <!-- <div class="graphicsArea">
    <a routerLink="/home" class="logo">
      <img src="assets/images/pinkbackground.jpg">
      </a>
    </div> -->
</header>
  <div id="ticker">Where trivia goes to get even nerdier</div>    
  <img src="https://media4.giphy.com/media/KZysJjKb8XyQSXQZwl/giphy.gif?cid=ecf05e475w5dgyk0h5mq6jbg82fxhtjuynw56swwhuehoj89&rid=giphy.gif" alt="">
<body>

    <button (click)="leaderboardRoute()">Leaderboard</button>

    <button (click)="playGameRoute()" (click)="playCount()">Play</button>

    <button (click)="playerStats()">Player Stats</button>

</body>

<div class="circles-image" id="hidden" alt="circles-illustration">
  <span class="large-dot"></span>
  <span class="medium-dot"></span>
  <span class="small-dot"></span>
</div> 
</html>
<router-outlet></router-outlet>


