/* mobile screen */
html {
  background: rgb(58, 12, 163);
  background: linear-gradient(
    180deg,
    rgba(58, 12, 163, 1) 0%,
    rgba(114, 9, 183, 1) 94%
  );
height: 100vh;
width: 100vw;
}

body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ticker {
  background-color: #f72585;
  color: white;
  height: 25px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 1vh;
  margin: 0vh 0vh 10vh 0vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.background-circles {
  background-color: white;
  border-radius: 50%;
  opacity: 10%;
  width: 90%;
  height: 90%;
}

.graphicsArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
}

button {
  width: 200px;
  height: 80px;
  margin: 11px 20px;
  background-color: #39065a;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  flex-direction: row;
}

button:hover {
  background-color: #38065a98;
  box-shadow: 3px 3px 8px rgba(234, 5, 154);
  font-size: 26px;
  transition: 0.3s ease-in-out;
}

img {
  width: 80vw;
  padding: 0px;
  padding-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 376px) {

  img {
    width: 70vw;
    padding: 0px;
    padding-left: 15vw;
    transition: 0.5s ease-in;
  }

  button {
    width: 175px;
    height: 75px;
  }

  .button-container {
    display: flex;
    padding-top: 5%;
  }

  #ticker {
    font-size: 20px;
    transition: 0.5s ease-in;
  }

  }

   @media only screen and (min-width: 1030px){
    img {
      width: 25vw;
      padding-left: 37.5vw;
      transition: 0.5s ease-in;
      }

    .button-container{
      display: flex;
      padding-top: 5%;
    }
   }
    
  
