/* mobile screen */
html {
  background: rgb(58, 12, 163);
  background: linear-gradient(
    180deg,
    rgba(58, 12, 163, 1) 0%,
    rgba(114, 9, 183, 1) 94%
  );
  height: 100vh;
  width: 100vw;
}

body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ticker {
  background-color: #f72585;
  color: white;
  height: 25px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 1vh;
  margin: 0vh 0vh 10vh 0vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.graphicsArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
}

button {
  width: 200px;
  height: 80px;
  margin: 11px 20px;
  background-color: #39065a;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  flex-direction: column;
  box-shadow: 3px 3px 8px #4ccaf085;
}

button:hover {
  background-color: #38065a98;
  box-shadow: 3px 3px 8px rgba(234, 5, 154);
  font-size: 26px;
  transition: 0.3s ease-in-out;
}

img {
  width: 80vw;
  padding: 0px;
  padding-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*tablet view*/
@media only screen and (min-width: 768px) {
  img {
    width: 70vw;
    padding: 0px;
    padding-left: 15vw;
    transition: 0.5s ease-in;
  }

  button {
    width: 175px;
    height: 75px;
  }

  .button-container {
    display: flex;
    padding-top: 5%;
  }

  #ticker {
    font-size: 20px;
    transition: 0.5s ease-in;
  }
}
/*desktop view*/
@media only screen and (min-width: 1030px) {
  img {
    width: 28vw;
    display: flex;
    justify-content: center;
    padding-left: 37.5vw;
    padding-right: 37.5vw;
    align-items: center;
    flex-direction: row;
    transition: 0.5s ease-in;
    margin: auto;
  }

  html.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  button {
    width: 220px;
    height: 90px;
    background-color: #39065a;
    border: none;
    border-radius: 20px;
    color: #e4fbff;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    padding-top: 2vh;
  }

  #ticker {
    margin-bottom: 3.5vh;
  }
}
